<h1 class="row container-fluid mt-4 p-4">Collections</h1>

<div class="row container-fluid">
<% @collections.each do |collection| %>
  <div class="col-6 p-1">
  <%= link_to collection_path(collection) do %>
  
    <div class="card h-100">
      <%= image_tag(collection.thumbnail, class:"card-img-top") %>
      <div class="card-body">
        <p class="card-text" style="white-space:normal"><%= collection.name %></p>
      </div>
    </div>  

  <% end %>
  </div>
<% end %>
</div>  


