<div class="container">
  <h1>Help and Support</h1>
  <p class="lead">Need some help? Leave us a message!</p>
  
  
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Message</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>