
a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}

.cover-image{
  background-size:cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay{
  box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 1);
}