<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="navbar-nav mr-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <%= icon('fas', 'bars') %>
    </button>
  </div>
  
  <div> 
    <a class="mr-auto">
      <i class="fa fa-shopping-bag"></i>
    </a>
    <a>
      <i class="fa fa-search"></i>
    </a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
    </div>
  </div>
</nav>